h1 {
  margin: 0.5cm 0.5cm;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0 0.5cm;
  display: inline-block;
}

div {
  transition-duration: 0.4s;
}

button {
  margin: 0.1cm 0.5cm;  
  border-radius: 5px;
  border: 1px solid skyblue;
  padding: 5px 10px;
  text-align: center;
  display: inline;
  transition-duration: 0.4s;
}

button:hover {
  background-color: skyblue;
}

input[type=submit] {
  margin: 0.1cm 0.5cm;  
  border-radius: 5px;
  border: skyblue;
  padding: 5px 10px;
  text-align: center;
  display: inline;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: skyblue;
}

.error {
  text-emphasis: bold;
  color: red;
}

textarea {
  margin: 0.1cm 0.5cm;
}

select {
  margin: 0.1cm o.5cm;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
